<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h4>[[${list}]]</h4>
    <hr/>
    <h4 th:text="${list}"></h4>

    <ul>
        <li th:each="str: ${list}" th:text="${str}"></li>
    </ul>

    <ul>
        <th:block th:each="str: ${list}">
            <li>[[${str}]]</li>
        </th:block>
    </ul>

    <ul>
        <li th:each="str, status: ${list}">
            [[${status.index}]] -- [[${str}]]
        </li>
    </ul>

    <ul>
        <li th:each="str,status: ${list}">
            <span th:if="${status.odd}"> ODD -- [[${str}]]</span>
            <span th:unless="${status.odd}"> EVEN -- [[${str}]]</span>
        </li>
    </ul>

    <ul>
        <li th:each="str, status: ${list}">
            <span th:if="${status.odd} ? 'ODD --'+${str}"></span>
        </li>
    </ul>

    <ul>
        <li>삼항연산식으로 표현</li>
        <li th:each="str,status: ${list}">
            <span th:text="${status.odd} ? 'ODD --'+${str} : 'EVEN --'+${str}"> </span>
        </li>
    </ul>

    <ul>
        <li>switch - case : 0, 1, 2 </li>
        <li th:each="str,status: ${list}">
            <th:block th:switch="${status.index % 3}">
                <span th:case="0">0</span>
                <span th:case="1">1</span>
                <span th:case="2">2</span>
            </th:block>
        </li>
    </ul>

    <a th:href="@{/hello1(name='AAA', age= 16)}">Go to /hello1</a><br/>
    <a href="/hello1?name='AAA'&age=16">Go to/hell1</a>

    <a th:href="@{/hello2(name='한글 처리', age= 16)}">Go to /hello2</a><br/>
    <a href="/hello2?name='한글 처리'&age=16">Go to/hello2</a>

    <a th:href="@{/hello3(types=${ {'AA','BB','CC'} }, age= 16)}">Go to /hello3</a><br/>
    <a href="/hello3?types=AA&types=BB&types=CC">Go to/hello3</a>

</body>
</html>
